#################
## LaTex
#################

*.aux
*.log
*.out

#################
## O/S specific
#################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
.DS_Store

#############
## Python
#############

*.py[co]
